*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}




.search_box{
    padding: 10px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    background-color: #fff;
    border: 2px solid rgb(111,121,60) ;
    border-radius: 30px;
    width: 500px;
  }
  .search_btn{
    text-decoration: none;
    float: right;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search_txt{
    display: flex;
    padding: 0;
    width: 0px;
    border:none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    transition: .4s;
    width: 240px;
    padding: 0 6px;
  }

#spot{
    width: 460px;
    height: 50px;
    border: 2px solid rgb(111,121,60);
    background-color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;

}
#spot a{
   font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: rgb(111,121,60);
    margin: 10px;
}

.ocean{
    width: 1400px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-700px, 300px);
    position: absolute;
    border: 2px solid rgb(111,121,60);
}
.ocean img{
    width: 350px;
    height: 250px;
    float: left;
}
.ocean_txt{
    top: 50%;
    left: 50%;
    position: absolute;
     transform: translate(-700px, 300px);
    width: 1400px;
    height: 50px;
    border: 2px solid rgb(111,121,60);
    background-color: white;
}
.ocean_txt a{
   font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: rgb(111,121,60);
    margin: 10px;
}

.mountain{
    width: 1400px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-700px, 700px);
    position: absolute;
    border: 2px solid rgb(111,121,60);
}
.mountain img{
    width: 350px;
    height: 250px;
    float: left;
}
.mountain_txt{
    top: 50%;
    left: 50%;
    position: absolute;
     transform: translate(-700px, 700px);
    width: 1400px;
    height: 50px;
    border: 2px solid rgb(111,121,60);
    background-color: white;
}
.mountain_txt a{
   font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: rgb(111,121,60);
    margin: 10px;
}

.forest{
    width: 1400px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-700px, 1100px);
    position: absolute;
    border: 2px solid rgb(111,121,60);
}
.forest img{
    width: 350px;
    height: 250px;
    float: left;
}
.forest_txt{
    top: 50%;
    left: 50%;
    position: absolute;
     transform: translate(-700px, 1100px);
    width: 1400px;
    height: 50px;
    border: 2px solid rgb(111,121,60);
    background-color: white;
}
.forest_txt a{
   font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: rgb(111,121,60);
    margin: 10px;
}